* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
    background: #202124;
    color: white;
}

.introPic{
    margin-left: 20%;
    float: left;
    margin-right: 20px;
    }

.intro{
    margin-top: 200px;
    letter-spacing: .2ex;
}

.intro h1{
    margin-bottom: 140px;
}

.bio{
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.links{
    background: black;
    margin-top: 150px;
    padding: 79px;
    display: flex;
}

.links a{
    color: white;
}

.links div{
    width: 33%;
    text-align: center;
}