body{
    font-family: Arial;
    background: #202124;
    color: white
 
}

.introPic{
    margin-left: 20%;
    float: left;
    margin-right: 20px;
    }

.intro{
    margin-top: 200px;
    letter-spacing: .2ex;
}

.intro h1{
    margin-bottom: 140px;
}

.bio{
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#links{
    float:
}

#links div{
    display: table-cell
    text-align: center;
    width: 25%;
}