body{
    background: red;
}

.introPic{
    margin-left: 20%;
    float: left;
    margin-right: 20px;
    }

.intro{
    font-family: Arial; 
    margin-top: 200px;
}

.bio{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
}